body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 45px;
}
section{
    display: flex;
    padding-left: 2%;
}
.red{
    color:red;
}
.width-controll{
    padding-left: 2%;
   
    
}
.width-controll img{
    width: 80%;

}
.button-L{
    text-decoration: none;
    background-image: linear-gradient(maroon, tomato);
    padding: 20px 45px;
    color: white;
    font-weight: 800px;
    border-radius: 30px;

}