body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
p{
    color: dimgrey;
}
.red{
    color: red;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.width-controll{
    width: 40%;
    padding-left: 2%;
    margin-left: 3%;
    float: left;
}
.width-controll img{
    width: 90%;
}
.L-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 44px;
    color:white;
    font-weight: 800;
    border-radius: 40px;
}
.add-bg{
    background-image: url(7.png);
    background-repeat: no-repeat;
   background-position: center;
}
.re-h{
    text-align: center;
    padding: 40px 60px;
}
#grad-a{
    box-shadow: 10px 10px 20px 20px black;
    padding: 10px;
    border-radius: 14px;
}
#pic-pac{
    padding: 10px;
}
.for-box{
    padding: 10px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 35px;
}
.footer-header{
    color: orange;
}
.net-c{
    color:gray
}