body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    
}
.red{
    color: red;
}
section{
    display: flex;
}
.width-controll{
    width: 60%;
    padding-left: 2%;
}
.width-controll img{
    width: 70%;
}
.L-button{
    text-decoration: none;
    background-image: linear-gradient(maroon, tomato);
    padding: 10px 30px;
    color:white;
    font-weight: 800;
}